<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="page">
      <ul class="post-list">
        {{ range .Pages }}
          {{ .Render "summary" }}
        {{ end }}
      </ul>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>