<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

      <div class="page">
        <article>
          <header class="post-header">
            <h2>{{ .Title }}</h2>
            <div class="post-byline">
              <span>Posted {{ .Date.Format "January 2006" }}</span>
            </div>
          </header>
          {{ .TableOfContents }}
          {{ .Content }}
        </article>
      </div>

    {{ partial "footer.html" . }}

  </body>
</html>
