<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    {{ $pages := site.RegularPages }}

    <div class="page">
      {{ .Content }}
      <ul class="post-list">
        {{ range $pages }}
          {{ .Render "summary" }}
        {{ end }}
      </ul>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
