<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

      <div class="page">
        <article>
          {{ .Content }}
        </article>
      </div>

    {{ partial "footer.html" . }}

  </body>
</html>
