<footer class="footer">
  {{ if .Site.Menus.main }}
    <nav>
      <ul class="footer-nav nav-links">
        {{ range .Site.Menus.main.ByWeight }}
          <li><a href="{{ .URL }}">{{- .Name -}}</a></li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</footer>
