{{ $base := resources.Get "css/main.css" }}

{{ $style := $base | minify }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="alternate" type="application/rss+xml" href='{{ "feed.xml" | absURL }}' />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{ if .Title }}
  <title>{{ .Title }}</title>
{{ else }}
  <title>Page without a Title</title>
{{ end }}
{{ if .Description }}
  <meta name="description" content="{{ .Description }}">
{{ else }}
  <meta name="description" content="Computers and stuff">
{{ end }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<style type="text/css">
  {{ $style.Content | safeCSS }}
</style>
