/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #f7fafc;
}

p {
  line-height: 1.5;
  margin: 0.75em 0;
}

figure > figcaption > p {
  margin: -10px -10px 20px;
  padding: 10px;
  border-radius: 5px;
  font-style: italic;
}

figure {
  margin: 0px 0px 20px;
}

figure a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Change background color for in-line code and round its background */
p > code,
li > code {
  background: #f1f1f1;
  border-radius: 6px;
  padding: 0.25rem;
}

/* Round corners for code block */
.highlight > pre,
.highlight > table {
  border-radius: 6px;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

.header {
  margin: 0 auto 0;
  max-width: 800px;
  width: 85vw;
  text-align: left;
}

.site-title {
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 6px;
}

.site-title > a {
  color: #000000;
  text-decoration: none;
}

.site-description {
  text-decoration: overline;
  font-weight: 300;
  font-size: 1.2em;
}

.page {
  font-size: 1.25em;
  margin: 0 auto 0;
  max-width: 800px;
  width: 85vw;
}

li {
  margin-bottom: 1.5;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #2c8898;
}

/* Footer */

.footer {
  margin: 0 auto 0;
  max-width: 800px;
  width: 85vw;
}

.footer-nav > li {
  display: inline-block;
}

.footer-nav > li ~ li {
  margin-left: 1em;
}

.footer-nav > li ~ li:before {
  content: "\00BB";
  margin-right: 1em;
}

ul.footer-nav {
  margin-left: -40px; /* overrides webkit-padding-start */
}

.nav-links a {
  font-size: 1.1em;
  text-decoration: none;
}

/* END Footer */

/* List of blog posts */
.post-list {
  /*list-style: none;*/
}

/* END List of blog posts */

/* Single blog post */

header.post-header > h2 {
  margin-bottom: 0em;
}

.post-date {
  margin-bottom: 1em;
}

/* Don't let syntax flow past width*/
.highlight pre {
  overflow-x: auto;
}

.post-byline > span {
  font-weight: 300;
}

/* END Single blog post */

/* Table */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #e2e8f0;
}
/* END Table */

/* MOBILE STYLE */
@media (max-width: 800px) {
  html {
    padding: 0;
  }

  .site-title {
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }

  .site-description {
    font-size: 1em;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  * {
    color: #e2e8f0;
  }

  a {
    color: #90cdf4;
  }

  .site-title > a {
    color: #e2e8f0;
  }

  body {
    background: #1a202c;
  }

  /* background color for in-line code */
  p > code,
  li > code {
    background: #2d3748;
  }

  hr {
    background: #ebebeb;
  }

  td,
  th {
    border-bottom: 1px solid #4a5568;
  }
}
